name: Build, Push and Deploy to Azure Container Apps

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Build Docker image
        run: |
          docker build -t acrassistantdemo.azurecr.io/${{ env.IMAGE_NAME }}:v1 .

      - name: Push Docker image
        run: |
          docker push acrassistantdemo.azurecr.io/${{ env.IMAGE_NAME }}:v1

      - name: Deploy to Azure Container Apps
        run: |
          if az containerapp show --name ${{ env.ACA_APP }} --resource-group ${{ env.RG }}; then
            az containerapp update \
              --name ${{ env.ACA_APP }} \
              --resource-group ${{ env.RG }} \
              --image acrassistantdemo.azurecr.io/${{ env.IMAGE_NAME }}:v1 \
              --target-port ${{ env.PORT }};
          else
            az containerapp create \
              --name ${{ env.ACA_APP }} \
              --resource-group ${{ env.RG }} \
              --image acrassistantdemo.azurecr.io/${{ env.IMAGE_NAME }}:v1 \
              --target-port ${{ env.PORT }} \
              --ingress external;
          fi

      - name: Set OpenAI API Key
        run: |
          az containerapp revision copy \
            --name ${{ env.ACA_APP }} \
            --resource-group ${{ env.RG }} \
            --set-env OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }}

    env:
      RG: rg-azure-assistant
      ACR: acrassistantdemo
      ACA_ENV: env-azure-assistant
      ACA_APP: azure-ai-knowledge-assistant
      LOCATION: westeurope
      IMAGE_NAME: azure-assistant
      PORT: 8501